@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto Slab", serif;
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 3.2rem;
}
h1.page-title {
  margin: 2rem 0;
  padding: 0 0 0 3rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

.primary {
  background: #72B3E2;
  color: #fff;
}

.secondary {
  background: #4054A5;
  color: #fff;
}

.accent {
  background: #d0e3f0;
  color: #000;
}

.d-flex {
  display: flex;
}

button, .read-more {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 64px;
  height: 4rem;
  padding: 2.4rem 1rem;
  border: none;
  font-size: 1.6rem;
  color: #fff;
  cursor: pointer;
}
button.block, .read-more.block {
  display: block;
  width: 100%;
}

.main-header {
  background-color: #f1f1f1;
  padding: 1rem;
}
.main-header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-header .header-phone {
  align-self: flex-end;
}
@media screen and (max-width: 768px) {
  .main-header .header-phone {
    display: none;
  }
}
.main-header .header-phone a {
  color: #000;
  text-decoration: none;
}

.main-nav {
  position: relative;
  padding: 2rem 0;
  background-color: #72B3E2;
}
.main-nav #mobileMenu {
  color: #fff;
  font-size: 2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.main-nav #mobileMenu .fa-times {
  display: none;
}
.main-nav #mobileMenu.open .fa-bars {
  display: none;
}
.main-nav #mobileMenu.open .fa-times {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .main-nav #mobileMenu {
    display: none;
  }
}
.main-nav .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.main-nav #primaryNav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  border: red;
}
.main-nav #primaryNav .current-menu-item a {
  background: #4054A5 !important;
  color: #fff !important;
}
.main-nav #primaryNav li {
  display: flex;
  align-items: center;
  position: relative;
}
.main-nav #primaryNav li a {
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 2rem;
  cursor: pointer;
}
.main-nav #primaryNav li a:last-child {
  margin-right: none;
}
@media screen and (max-width: 768px) {
  .main-nav #primaryNav li a {
    color: #000;
    margin: 1rem 0;
  }
}
.main-nav #primaryNav li .sub-menu {
  list-style-type: none;
  display: flex;
  width: 16rem;
  padding: 1rem;
  flex-direction: column;
  position: absolute;
  top: 2rem;
  left: 0rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, top 0.2s ease;
  background: #fff;
  border-radius: 0.5rem;
  z-index: 1010;
}
.main-nav #primaryNav li .sub-menu li {
  margin: 1rem 0;
  cursor: pointer;
}
.main-nav #primaryNav li .sub-menu li a {
  color: #000;
}
.main-nav #primaryNav li .sub-menu li:last-child {
  margin-bottom: none !important;
}
.main-nav #primaryNav li:hover a {
  background-color: #bcd3e4;
  color: #fff;
}
.main-nav #primaryNav li:hover .sub-menu {
  visibility: visible;
  top: 3rem;
  opacity: 100%;
}
.main-nav #primaryNav li:hover .sub-menu a {
  background-color: #fff;
  color: #000;
}
.main-nav #primaryNav li:hover .sub-menu a:hover {
  background-color: #bcd3e4;
}
@media screen and (min-width: 992px) {
  .main-nav #primaryNav li:last-child {
    margin-right: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .main-nav #primaryNav {
    visibility: hidden;
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 7rem;
    left: 0;
    padding: 1rem;
    background: #fff;
    color: #000;
    z-index: 1000;
  }
  .main-nav #primaryNav.open {
    visibility: visible;
  }
}
.main-nav #searchForm {
  display: flex;
  flex-direction: row;
}
.main-nav #searchForm button[type=submit] {
  padding: 2.4rem 1rem;
  background: #D0E3F0;
  font-size: 17px;
  border: none;
  color: #000;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .main-nav #searchForm input[type=search] {
    max-width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .main-nav {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
  }
}

.main-footer .contact-info {
  padding: 3rem 2rem;
  background: #d0e3f0;
  color: #000;
}
.main-footer .contact-info .container {
  display: grid;
  grid-template-rows: auto;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-areas: "col-1" "col-2" "col-3 ";
}
@media (min-width: 768px) and (max-width: 992px) {
  .main-footer .contact-info .container {
    grid-template-columns: auto auto auto;
    grid-template-areas: "col-1 col-2 col-3";
  }
}
@media (min-width: 992px) {
  .main-footer .contact-info .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "col-1 col-2 col-3";
  }
}
.main-footer .contact-info .container .col-1 {
  grid-area: col-1;
}
.main-footer .contact-info .container .col-2 {
  grid-area: col-2;
}
.main-footer .contact-info .container .col-3 {
  grid-area: col-3;
}
.main-footer .contact-info .container .col h2, .main-footer .contact-info .container .col p {
  margin-bottom: 2rem;
}
.main-footer .contact-info .container .col h2 a, .main-footer .contact-info .container .col p a {
  text-decoration: none;
  color: inherit;
}
.main-footer .contact-info .container .newsletter-signup input[type=text] {
  width: 100%;
  border: none;
  padding: 2rem;
  margin-bottom: 1rem;
}
.main-footer .contact-info .container .newsletter-signup button[type=submit] {
  width: 100%;
  padding: 2rem;
  border: none;
  border-radius: 2rem;
  font-size: 1.6rem;
  color: #fff;
  background: #72B3E2;
  cursor: pointer;
}
.main-footer .footer-top {
  padding: 1.5rem;
  background-color: #4054A5;
}
.main-footer .footer-top .social-links {
  display: flex;
  justify-content: center;
}
.main-footer .footer-top .social-links a {
  margin-right: 1rem;
  font-size: 3.2rem;
  text-decoration: none;
}
.main-footer .footer-top .social-links a .fa-facebook-square {
  color: #fff;
}
.main-footer .footer-top .social-links a .fa-youtube-square {
  color: #fff;
}
.main-footer .footer-top .social-links a .fa-instagram-square {
  color: #fff;
}
.main-footer .footer-top .social-links a .fa-pinterest-square {
  color: #fff;
}
.main-footer .footer-top .social-links a .fa-twitter-square {
  color: #fff;
}
.main-footer .footer-top .social-links a:last-child {
  margin-right: 0;
}
.main-footer .footer-bottom {
  padding: 1.5rem;
}
.main-footer .footer-bottom .container {
  display: flex;
  justify-content: center;
}

main {
  margin-bottom: 5rem;
  padding: 0 1rem;
}
main .section-header {
  margin: 4rem 0;
}
@media screen and (max-width: 768px) {
  main .section-header {
    margin: 4rem 2rem;
  }
}

.container {
  margin: 0 auto;
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 375px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 570px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 725px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 952px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.row .col-small-1 {
  width: 8.3333333333%;
}
.row .col-small-2 {
  width: 16.6666666667%;
}
.row .col-small-3 {
  width: 25%;
}
.row .col-small-4 {
  width: 33.3333333333%;
}
.row .col-small-5 {
  width: 41.6666666667%;
}
.row .col-small-6 {
  width: 50%;
}
.row .col-small-7 {
  width: 58.3333333333%;
}
.row .col-small-8 {
  width: 66.6666666667%;
}
.row .col-small-9 {
  width: 75%;
}
.row .col-small-10 {
  width: 83.3333333333%;
}
.row .col-small-11 {
  width: 91.6666666667%;
}
.row .col-small-12 {
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .row .col-medium-1 {
    width: 8.3333333333%;
  }
  .row .col-medium-2 {
    width: 16.6666666667%;
  }
  .row .col-medium-3 {
    width: 25%;
  }
  .row .col-medium-4 {
    width: 33.3333333333%;
  }
  .row .col-medium-5 {
    width: 41.6666666667%;
  }
  .row .col-medium-6 {
    width: 50%;
  }
  .row .col-medium-7 {
    width: 58.3333333333%;
  }
  .row .col-medium-8 {
    width: 66.6666666667%;
  }
  .row .col-medium-9 {
    width: 75%;
  }
  .row .col-medium-10 {
    width: 83.3333333333%;
  }
  .row .col-medium-11 {
    width: 91.6666666667%;
  }
  .row .col-medium-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .row .col-large-1 {
    width: 8.3333333333%;
  }
  .row .col-large-2 {
    width: 16.6666666667%;
  }
  .row .col-large-3 {
    width: 25%;
  }
  .row .col-large-4 {
    width: 33.3333333333%;
  }
  .row .col-large-5 {
    width: 41.6666666667%;
  }
  .row .col-large-6 {
    width: 50%;
  }
  .row .col-large-7 {
    width: 58.3333333333%;
  }
  .row .col-large-8 {
    width: 66.6666666667%;
  }
  .row .col-large-9 {
    width: 75%;
  }
  .row .col-large-10 {
    width: 83.3333333333%;
  }
  .row .col-large-11 {
    width: 91.6666666667%;
  }
  .row .col-large-12 {
    width: 100%;
  }
}

.grid-row {
  display: grid;
  grid-template-rows: auto;
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}
.grid-row .col-1 {
  grid-area: col-1;
}
.grid-row .col-2 {
  grid-area: col-2;
}
.grid-row .col-3 {
  grid-area: col-3;
}
.grid-row .col-4 {
  grid-area: col-4;
}
.grid-row .col-5 {
  grid-area: col-5;
}
.grid-row .col-6 {
  grid-area: col-6;
}
.grid-row .col-7 {
  grid-area: col-7;
}
.grid-row .col-8 {
  grid-area: col-8;
}
.grid-row .col-9 {
  grid-area: col-9;
}
.grid-row .col-10 {
  grid-area: col-10;
}
.grid-row .col-11 {
  grid-area: col-11;
}
.grid-row .col-12 {
  grid-area: col-12;
}

input[type=text], input[type=email], select {
  border: 1px solid #ccc;
  padding: 1.6rem;
  margin-bottom: 3rem;
}

input[type=text], input[type=email] {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  input[type=text], input[type=email] {
    width: 50%;
  }
}

.carousel .slick-dots li button:before {
  font-size: 4rem;
}
@media screen and (max-width: 768px) {
  .carousel .slick-slide {
    display: flex;
    justify-content: center;
  }
}

.article-list {
  display: grid;
  grid-template-rows: auto;
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  grid-template-areas: "art-1 art-2" "art-3 art-4";
}
@media (min-width: 768px) and (max-width: 992px) {
  .article-list {
    grid-template-columns: auto auto auto;
    grid-template-areas: "art-1 art-2 art-3" "art-4 null null";
  }
}
@media (min-width: 992px) {
  .article-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "art-1 art-2 art-3 art-4";
    grid-row-gap: 0;
  }
}
.article-list .art-1 {
  grid-area: art-1;
}
.article-list .art-2 {
  grid-area: art-2;
}
.article-list .art-3 {
  grid-area: art-3;
}
.article-list .art-4 {
  grid-area: art-4;
}
.article-list a {
  display: block;
  width: auto;
  box-shadow: 0 0 26px rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.article-list a article {
  position: relative;
}
.article-list a article img {
  display: block;
  width: 100%;
  opacity: 75%;
  margin: 0;
  transition: opacity 0.2s ease-in;
}
.article-list a article img:hover {
  opacity: 100%;
}
.article-list a article .article-title {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  flex: 1;
  background-color: rgba(114, 179, 226, 0.8);
  padding: 1rem;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 768px) {
  .article-list a article .article-title {
    font-size: 1.2rem;
  }
}
.article-list a article .article-footer {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  padding: 1rem;
  background: rgba(64, 84, 165, 0.8);
}

.cruise-info {
  margin: 4rem 0;
}
@media screen and (max-width: 768px) {
  .cruise-info {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .cruise-info {
    flex-direction: row;
  }
}
.cruise-info .col.description {
  flex-direction: column;
  justify-content: center;
}
.cruise-info .col.description h2 {
  color: #4054A5;
  margin: 1rem 0;
}
.cruise-info .col.description p {
  margin: 1.5rem 0;
}
.cruise-info .col.description button {
  align-self: flex-end;
  border-radius: 2rem;
}
@media screen and (max-width: 768px) {
  .cruise-info .col.description {
    padding: 0 3rem;
  }
}
@media screen and (max-width: 768px) {
  .cruise-info .col.cruise-photo {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
  }
  .cruise-info .col.cruise-photo img {
    max-width: 350px;
  }
}
@media screen and (min-width: 768px) {
  .cruise-info .col.cruise-photo {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .agent .container {
    display: flex;
    padding: 0 2rem;
    justify-content: center;
    flex-direction: column;
  }
  .agent .container .section-title {
    text-align: center;
  }
}
.agent .container .section-title {
  margin: 2rem 0;
}
.agent .container .agent-image {
  border-radius: 50%;
}
@media screen and (min-width: 576px) {
  .agent .container .agent-image {
    float: right;
  }
}
@media screen and (max-width: 576px) {
  .agent .container .agent-image {
    align-self: center;
  }
}
.agent .container .agent-description h2 {
  margin-top: 2rem;
  color: #4054A5;
}
.agent .container .agent-description .agent-phone {
  color: inherit;
  text-decoration: none;
}
.agent .container .agent-description blockquote {
  margin-bottom: 1rem;
  font-style: italic;
}
.agent .container .agent-description blockquote .customer-name {
  display: block;
  font-weight: 600;
  color: #4054A5;
}

.booking-page {
  padding: 4rem 0;
}
.booking-page #bookingForm {
  display: flex;
  flex-direction: column;
}
.booking-page #bookingForm label {
  font-size: 1.4rem;
}
.booking-page #bookingForm input, .booking-page #bookingForm select {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 2rem;
}
.booking-page #bookingForm .form-required {
  color: #b65a5a;
  font-size: 1.2rem;
}
.booking-page #bookingForm button {
  border-radius: 2rem;
}
@media screen and (min-width: 992px) {
  .booking-page #bookingForm {
    width: 25%;
  }
}
@media screen and (max-width: 992px) {
  .booking-page {
    padding: 4rem 2rem;
  }
}

.about {
  margin-top: 3rem;
}
.about .grid-row {
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .about .grid-row {
    grid-template-columns: auto auto auto;
    grid-template-areas: "col-1" "col-2" "col-3";
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .about .grid-row {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "col-1 col-2" "col-3 null";
    grid-row-gap: 0;
  }
}
@media (min-width: 1200px) {
  .about .grid-row {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "col-1 col-2 col-3";
    grid-row-gap: 0;
  }
}
.about .grid-row *[class^=col-] {
  padding: 0 1rem;
}
.about .grid-row *[class^=col-] h2 {
  margin: 0 0 3rem 0;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .about .grid-row *[class^=col-] {
    margin-bottom: 3rem;
  }
  .about .grid-row *[class^=col-].col-1 {
    padding: 0 2rem 0 1rem;
  }
}
@media screen and (min-width: 1200px) {
  .about .grid-row *[class^=col-] {
    padding: 0 3rem;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .about .grid-row .col-2 {
    border-left: 1px solid #72B3E2;
    padding: 0 0 0 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .about .grid-row .col-2 {
    border-left: 1px solid #72B3E2;
    border-right: 1px solid #72B3E2;
  }
}

.destinations {
  justify-content: center;
  align-items: center;
}
.destinations .grid-row {
  display: grid;
  grid-template-rows: auto;
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}
@media (max-width: 768px) {
  .destinations .grid-row {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "col-1 col-2" "col-3 col-4" "col-5 col-6" "col-7 col-8" "col-9 col-10";
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .destinations .grid-row {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "col-1 col-2 col-3" "col-4 col-5 col-6" "col-7 col-8 col-9" "col-10 null null";
  }
}
@media (min-width: 1200px) {
  .destinations .grid-row {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "col-1 col-2 col-3 col-4" "col-5 col-6 col-7 col-8" "col-9 col-10 null null";
  }
}
.destinations .grid-row img {
  width: 100%;
}
.destinations .grid-row figcaption {
  text-align: center;
}

.location .page-title {
  padding: 0 0 0 3rem;
}
.location .col {
  margin: 0 0 3rem 0;
  padding: 0 0 3rem 3rem;
}
.location .col h2 {
  margin: 2rem 0;
}
.location .map {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.location .map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/*# sourceMappingURL=main.css.map */
