.booking-page {
    #bookingForm {
        display: flex;
        flex-direction: column;

        input, select {
            border: 1px solid #ccc;
            margin-bottom: 2rem;
        }

        button {
            border-radius: 2rem; 
        }

        @media screen and (min-width: $md) {
            width: 25%;
        }
    }
    
}