.main-nav {   
    position: relative;
    padding: 2rem 0;    
    background-color: #72B3E2;


    #mobileMenu {
        color: #fff;
        font-size: 2rem;
        border: none;
        background-color: transparent;
        cursor: pointer;

        .fa-times {
            display: none;
        }

        &.open .fa-bars {
            display: none
        }

        &.open .fa-times {
            display: inline-block;
        }



        @media screen and (min-width: $sm) {
            display: none;
        }
    }


    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .main-menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;

        .top-link {
            display: flex;
            align-items: center;
            position: relative;

            a {                
                color: #fff;
                font-size: 2.2rem;
                text-transform: uppercase;
                text-decoration: none;
                margin-right: 2rem;

                cursor: pointer;

                &:last-child {
                    margin-right: none;
                }

                @media screen and (max-width: $sm) {
                    color: #000;
                    margin: 1rem 0;
                }
            }            

            .sub-menu {
                list-style-type: none;
                display: flex;
                width: 16rem;
                padding: 1rem;
                flex-direction: column;
                position: absolute;
                top: 2rem;
                left: 0rem;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.5s ease, top 0.2s ease;
                background: #fff;
                border-radius: .5rem;
                z-index: 1010;

                li {

                    margin: 1rem 0;

                    a {
                        color: #000;
                    }

                    &:last-child {
                        margin-bottom: none!important;
                    }

                    cursor: pointer;
                }
                
            }

            &:hover .sub-menu {
                visibility: visible;
                top: 3rem;
                opacity: 100%;                
            }

            @media screen and (min-width: $md) {
                &:last-child {
                    margin-right: 3rem;
                }
            }
        }

        @media screen and (max-width: $sm) {
            visibility: hidden;
            width: 100%;
            flex-direction: column;
            position: absolute;
            top: 7rem; 
            left: 0;
            padding: 1rem;
            background: #fff;
            color: #000;
            z-index: 1000;

            &.open {
                visibility: visible;
            }
        }
    } 
    
    #searchForm {
        display: flex;
        flex-direction: row;

        input[type="search"] {
            border: none;
            padding: 1rem;
        }

        button[type="submit"] {
            padding: 6px 10px;
            background: #D0E3F0;
            font-size: 17px;
            border: none;
            color: #000;
            cursor: pointer;
        }
    }

    @media screen and (max-width: $sm) {
        padding: 2rem;
    }
}